<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->

<nav class="navbar navbar-default navbar-static-top navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class = "ups-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/UPS_Logo_Shield_2017.svg/644px-UPS_Logo_Shield_2017.svg.png" alt=""></a>
    <h1>{{title}}</h1>
    <div aria-label="log in or sign up">
        <button type="button" class="btn btn-primary" routerLink = "/login">Log In</button>
        <button type="button" class="btn btn-primary" routerLink = "/sign-up">Sign Up</button>
    </div>
</nav>