<div class = "uForum-body">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-2">
            </div>
            <div class = "col-md-8">
                <div class = "activity">
                    <app-activity></app-activity>
                </div>
                <div class = "post">
                    <app-post></app-post>
                </div> 
            </div>
            <div class = "col-md-2">
            </div>
        </div>
    </div>
</div>
